body {
  background-image:url("bgtop.png");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:top center;
  background-size:cover;
       font-family: "Courier", monospace;
       margin-top:32px;
  margin-left:0px;
  margin-right:0px;
}

.drip2 {
  background-image:url("bottom drip.png");
  background-position:top center;
  width:100%;
  height:275px;
  z-index:1;
  margin-bottom:-275px;
}

.mainbody {
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 10vh;
  max-width: 960px;
  min-width: 500px;
  background-color: #ff3b3b;
  border-radius: 25px;
}

/*this is the navi bar*/
.bodyheader{
  background-color: #8dff87;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.bodyheader a{
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

.bodyheader a.right{
  float: right;
}

.bodyheader a:hover{
  background-color: #00FFFF;
  color: #8dff87;
}

.bodyheader h2
{
    color: white;
}

/* this is prolly where to add the menu bar*/
.subheader
{
  background-color: #00FFFF;
  left: 0;
  top: 0;
  right: 0;
  padding: 2px;
  border-top: 2px solid white;
}

.container
{
  max-width: 640px;
  padding: 0;
  margin: 0;
  height: 60px;
  position: relative;
}

.img1{
  display: grid;
  top: 250px;
  right: 250px;
  position: absolute;
  z-index: -2;
}

.img2{
  display: none;
  z-index: -2;
  position: absolute;
}

.img2: hover{
  display: block;
}

#animation {
  width:100vw;
  height:100vh;
  border: none;
  position: fixed;
  z-index: -999;
}

.links{
  float: left;
  font-size: 25pt;
  list-style-type: none;
  margin-right: 0 auto;
  text-align: center;
  position: absolute;
  left:330px;
  top:290px;
}

.links a {
    color: 043077;
    background: #ff006e;
    padding: 0px;
}

h1 {
   font-size:20pt;
 }
 h2 {
   font-size:25pt;
 }
 h3 {
   font-size:30pt;
}
