body {
  background-image:url("wallpaper.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:top center;
  background-size:cover;
  background-color:#343537;
       color:#FFFFFF;
       font-family: "Courier", monospace;
       margin-top:32px;
  margin-left:0px;
  margin-right:0px;
}

.drip {
background-image:url("bottom.png");
background-position:top center;
width:100%;
height:275px;
z-index:1;
margin-bottom:-275px;
}

.mainbody {
  margin-top:20vh;
  margin-bottom: 20vh;
  max-width: 960px;
  min-width: 500px;
  width:70%;
  z-index:100;
  position:absolute;
  padding-bottom:300px;
  border-radius: 25px;
}

.bodyheader{
  background-color: #8dff87;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
}

.bodyheader a{
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

.bodyheader a.right{
  float: right;
}

.bodyheader a:hover{
  background-color: #00FFFF;
  color: #ff3b3b;
  border-radius: 15px 15px
}

.bodyheader h2
{
    color: white;
}

.inside {
background-color:#343537;
margin:0px;
padding:0px;
}

.container {
  max-width: 640px;
   padding: 0;
   margin: 0;
   height: 60px;
   position: relative;
}

.bodyheader,.links, .sublinks
{
  overflow: hidden; /*hide content that doesn't fit*/
  position: relative; /* stays with the flow of doc */
}

.links
{
  line-height: 40px;
  display: block;
  padding: 10px;
  margin: 0 60px; /*not working? */
  color: white;
}
.sublinks
{
  line-height: 10px;
  display: block;
  padding: 10px;
  margin: 0 60px; /*not working? */
  color: white;


}


.links > ul, .sublinks > ul
{
  display: flex;
}

.links > ul li, .sublinks > ul li
{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Fascinate Inline', cursive;
}


ul, li
{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

}

a {
    color: inherit; /* get color from parent */
    text-decoration: none; /* remove underline */
}


.content
{
  padding: 20px;
  min-height: 600px;
}

.content.grid
{
  padding: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.description
{
  text-align: center;
  margin: auto auto 60px auto;
  font-family: 'Varela Round', sans-serif;
}

.description p
{
  width: 80%;
  text-align: left;
  margin: 0 auto 10px auto;
  line-height:20px;
  font-size: 18px;

}
